body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.title {
    padding: 2%;
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.title .half-width {
    padding-left: 2%;
    width: 50%;
}


.title .half-width img {
    padding-left: 10%;
    width: 80%;
}

.title h1 {
    font-size: 50px;
}

.title .name-color {
    color: orange;
}

.title .title-blog {
    color: rgb(98, 98, 98);
    text-align: justify;
}

.title .button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    margin-left: 1%;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}